.footer {
    background-color: #e8e9ee;
    padding: 20px 0;
  }
  
  .footer h5 {
    font-size: 1.25em;
    margin-bottom: 15px;
  }
  
  .footer p {
    margin-bottom: 10px;
    font-size: 1em;
  }
  .footer-copy {
    margin-top: 20px;
    font-size: 1em;
    color: #6c757d;
  }
  